*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    background-color: #fff;
}
.logo-item1{
    height: 80px;
    width: 150px;
}
.section2{
    background-color: #f8f2fb;

}
.container-item{
    background-color: white;
    border-radius: 30px;
    padding: 15px;
    margin: 30px 0px;
}
.para-item{
    color: #4805a0;
    font-size: 15px;
    text-decoration: none;
}
::placeholder{
    font-size: 15px;
}
.flex-item{
    display: flex;
    border: 1px solid #2c0264;
    border-radius: 7px;
}
input[type = text]{
    border: 1px solid #2c0264;
}
input[type = text]:focus{
    color: #212529;
    background-color:none;
    border-color:none;
    box-shadow: none;

}
.num{
    color: silver;
}
.otp-item{
    color: #4805a0;
    font-size: 12px;
}


.button-item{
    border: none;
    border-radius: 10px;
    background-color: #2c0264;
    color: #fff;
    padding: 7px;
}
.otp{
    color: #4805a0;
    font-weight: 600;
    text-decoration: none;
}
.google{
    height: 15px;
    width: 15px;
}
.google-item{
    border: none;
    width: fit-content;
    padding: 6px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow:  3px 5px 2px 0px rgb(237, 235, 235);
}
.card{
    margin-top: 30px;
}
.new-item{
    text-align: center;
    padding-top: 10px;
    font-weight: 800;
    color: #2c0264;
}
.jobimg{
    border-radius: 20px;
    margin-top: 30px;
}
.profile-item{
    font-size: 12px;
    color: rgba(92, 87, 87, 0.785);
}
.icon-item1{
    background-color:#2c0264 ;
    border-radius: 50%;
    color:#fff;
    padding: 2px;
    font-size: 12px;
}
.free-item{
    border: 1px solid #4805a0 ;
    padding: 6px 20px;
    border-radius: 10px;
    background-color: transparent;
    color: #4805a0;
}
.footer{
    background-color: black;
}
.footer-img{
    border-radius: 5px;
}
.para1{
    font-size: 16px;
    line-height: 1.8;
}
.Prefer{
    color: #4805a0;
}
.desi{
    color: #ffffff;
}
.socail{
    font-size: 26px;
    transition: 2s;
    cursor: pointer;
}
.socail:hover{
    transform: rotate(360deg);
}
@media (min-width:320px) and (max-width:768px) {
    .privacy-item{
        font-size: 13px;
    }
    .socail{
        font-size: 15px;
    }
}
@media (min-width:320px) and (max-width:567px){
    .gender-item{
        font-size: 10px;
    }
    .job{
        font-size: 13px;
    }
    .rec{
        font-size: 13px;
    }
}
