*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    background-color: rgb(227, 12, 8);
    color: rgb(255, 254, 254);
}

.logo-item1{
    height: 80px;
    width: 150px;
}
.section{
    background-color: #f8f2fb;

}
.section1{
    background-color: white;
    height: 90px;
    box-shadow: 1px 3px 10px rgb(221, 219, 219);
}
.fa-bars{
    font-size: 25px;
}

#markItem{
    display: none;
    font-size: 25px;
}

.nav-item{
    list-style-type: none;
    font-weight: bold;
    font-size: 18px;
    font-weight: 500;
    margin: auto;
}


.fa-circle-user{
    font-size: 30px;  
}
.fa-bell{
    font-size: 25px;
}
.nav-item .dash-item{
    font-size: 20px;
    color: #2e0466;
}
.section-item{
    background-color: #f8f2fb;
}
.btn-section{
    background-color: #efe7f9;
    
}
.active{
    background-color: #2c0264;
    border: none;
    width: 100%;
    padding: 8px;
    color: white;
    border-radius: 10px;
    box-shadow: 1px 3px 10px rgb(221, 219, 219);

}
.active-item{
    background-color: #fff;
    border: none;
    width: 100%;
    padding: 8px;
    color: rgb(4, 4, 4);
    border-radius: 10px;
    box-shadow: 1px 3px 10px rgb(221, 219, 219);

}
.free-item{
    background-color: #fff;
    box-shadow: 1px 3px 10px rgb(221, 219, 219);
    border-radius: 10px;
    height: 350px;

}
.cash{
    width: 100%;
    background-color:#efe7f9 ;
    border-radius: 10px;
    font-size: 20px;
}
.zero{
    font-size: 25px;
    font-weight: 600;
}
.get{
    background-color: transparent;
    padding: 7px;
    width: 100%;
    border: 2px solid #2c0264;
    border-radius: 10px;
    font-weight: 700;
    margin-top: 3px;
}
.jobitem{
    text-decoration: none;
    color: #070707;
}








.footer{
    background-color: black;
}
.footer-img{
    border-radius: 5px;
}
.para1{
    font-size: 16px;
    line-height: 1.8;
}
.Prefer{
    color: #4805a0;
}
.desi{
    color: #ffffff;
}
.socail{
    font-size: 26px;
    transition: 2s;
    cursor: pointer;
}
.socail:hover{
    transform: rotate(360deg);
}
@media (min-width:320px) and (max-width:768px) {
    .privacy-item{
        font-size: 13px;
    }
    .socail{
        font-size: 15px;
    }
    .bg-element{
        margin-left: 0px;
    }
    .list-item{
        display: none;
    }
    .fa-bars{
        display: block;
    }
    .get{
        margin-top: 50px;
    }
   
}
@media (min-width:320px) and (max-width:567px){
    .gender-item{
        font-size: 10px;
    }
    .job{
        font-size: 13px;
    }
    .rec{
        font-size: 13px;
    }
    .item-wipro{
        border-right: none;
        border-bottom: 1px solid black;
    }
}
