*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    background-color: rgb(227, 12, 8);
    color: rgb(255, 254, 254);
}

.logo-item1{
    height: 80px;
    width: 150px;
}
.section{
    background-color: #f8f2fb;

}
.section1{
    background-color: white;
    height: 90px;
    box-shadow: 1px 3px 10px rgb(221, 219, 219);
}
.fa-bars{
    font-size: 25px;
}

#markItem{
    display: none;
    font-size: 25px;
}

.nav-item{
    list-style-type: none;
    font-weight: bold;
    font-size: 18px;
    font-weight: 500;
    margin: auto;
}
.color-item{
    color: black;
    text-decoration: none;
}

.fa-circle-user{
    font-size: 30px;  
}
.fa-bell{
    font-size: 25px;
}
.nav-item .dash-item{
    font-size: 30px;
    color: #2e0466;
}
.section-item{

    background-image: url(BG\ Home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
     
}
.profile-item{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 1px 3px 10px rgb(221, 219, 219);

}
.user-item{
    font-size: 80px;
    background-color: rgba(192, 192, 192, 0.485);
    border-radius: 100%;
    color: #fff;
    
}
input[type=text]{
    border: none;
    padding: 10px;
   

}
input[type=text]:focus{
    color: #212529;
    background-color:none;
    border-color:none;
    box-shadow: none;
}
.input-field{
    display: flex;
    background-color: white;
    border-radius: 10px;
    margin-left: 10px;


}
.find-item{
    color: #4805a0;
}
.btn-item{
    background-color: #4805a0;
    color: white;
    padding: 5px 25px;
    border-radius: 10px;
    border: none;
}
.textitem{
    background-color:#fff;
    color:darkgrey;
    padding: 5px 25px;
    border-radius: 10px;
    border: 1px solid grey;
}
.bg-item{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 1px 3px 10px rgb(221, 219, 219);
}
.excel-btn{
    width: 75%;
    background-color: #2e0466;
    color: #fff;
    border-radius: 10px;
    padding: 7px;
}
.check{
    font-size: 14px;
    background-color: rgb(173, 247, 61);
    padding: 2px;
    border-radius: 5px;
}
.year{
    border: 1px solid #212529;
    background-color: #f2e3fa;
    padding: 8px;
    border-radius: 10px;
    width: 100%;
}
.result{
    border: 1px solid #212529;
    background-color:transparent;
    padding: 8px;
    border-radius: 10px;
}
.user-item{
    font-size: 80px;
    background-color: rgba(192, 192, 192, 0.485);
    border-radius: 100%;
    color: #fff;
    
}
.export-item{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 1px 3px 10px rgb(221, 219, 219);
}
.contact{
    background-color: #f5edf9;
    border: none;
    border-radius: 10px;
    padding: 8px;
}
#check{
    transform: scale(1.5);
    margin-right: 10px;
}
.skill-key{
    font-weight: 700;
    font-size: 17px;
    margin: 5px 0px;
}
.tech-skill{
    font-weight: 600;
    color: rgb(156, 153, 153);
}
.section-element{
    background-color: #f8f2fb;

}




.footer{
    background-color: black;
}
.footer-img{
    border-radius: 5px;
}
.para1{
    font-size: 16px;
    line-height: 1.8;
}
.Prefer{
    color: #4805a0;
}
.desi{
    color: #ffffff;
}
.socail{
    font-size: 26px;
    transition: 2s;
    cursor: pointer;
}
.socail:hover{
    transform: rotate(360deg);
}
@media (min-width:320px) and (max-width:768px) {
    .privacy-item{
        font-size: 13px;
    }
    .socail{
        font-size: 15px;
    }
    .bg-element{
        margin-left: 0px;
    }
    .list-item{
        display: none;
    }
    .fa-bars{
        display: block;
    }
   
}
@media (min-width:320px) and (max-width:567px){
    .gender-item{
        font-size: 10px;
    }
    .job{
        font-size: 13px;
    }
    .rec{
        font-size: 13px;
    }
    .item-wipro{
        border-right: none;
        border-bottom: 1px solid black;
    }
}
