.app-item{
    overflow: hidden;
}

.browse{
    color: #2c0264 ;
}
.browse1{
  position: relative;

}
.filter1{
  position: absolute;
  left: auto;
}
.bitem{
  border: none;
  text-align: center;
  background-color: transparent;
  width: 100%;
}
.active:hover{
  background-color: #2c0264;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
}
.section{
    background-image: url(BG\ Home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section1{
    background-color: #fff;
    box-shadow: 1px 3px 10px rgb(221, 219, 219) !important;
}
.homeBtn{
  border: none;
  background-color: transparent;
  color: #090909;

}
.browse:hover{
  background-color: #2c0264;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
}
.homeBtn:hover{
  background-color: #2c0264;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
}
.jobs2{
  color: black;
  font-size: 16px;

}
.browse2{
  color: #2c0264 ;
  font-size: 18px;
}
.jobs2:hover{
  background-color: #2c0264;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
}
.filter{
    font-size: 23px;
    font-weight: 700;
}
.location{
    border: 1px solid #9649fd ;
    background-color:#f9f9f9;
    color: #9649fd ;
    border-radius: 10px;
    width: 100%;
}
.location1{
  background-color:#f3f3f37a;
  color: #9649fd ;
  padding: 10px 0px;
  margin: 0px;
  border-radius: 10px;
  width: 100%;
  border: none;
}
.listitem{
  font-size: 20px;
  font-weight: 700;
  color: #646262;
  padding: 0px;
}
.skillitem{
  font-weight: 600;
  font-size: 16px;
}
.selected{
  border: 2px solid #9649fd;
  background-color: #f9f9f9;
}
.text-bold{
    font-weight: 600;
}
.textitem{
  color: black;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
  background-color: #fff;
  padding-left: 5px;
}
  .BtnText
  {
    color: #9649fd;
  }
  .showitem{
    color: rgb(82, 81, 81);
    font-size: 16px;
    font-weight: 500;
  }
  .companyItem{
    box-shadow: 2px 4px 11px rgb(221, 219, 219) !important;
    border-radius: 10px;
  }
  /* .designation{
    border-right: 2px solid silver;
  } */
.row-item{
  box-shadow: 1px 2px 5px rgb(221, 219, 219) !important;
  border-radius: 10px;
}
.scrollbar_item{
  height: 270px;
  overflow-y: scroll;
  text-align: justify;
}
/* Change the color of the scrollbar track */
::-webkit-scrollbar {
  width: 5px; /* Adjust the width as needed */
}

/* Change the color of the scrollbar thumb (the draggable handle) */
::-webkit-scrollbar-thumb {
  background-color: #9d9c9eb0;
  border-radius: 20px;
}

/* Change the color of the scrollbar thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #234567; /* Change to your desired hover color */
}
.opening-item{
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
}
  .loginitem{
    background-color: #4805a0;
    color: white;
    padding: 8px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 600;
  }
  .jobdescription{
    box-shadow: 2px 4px 11px rgb(221, 219, 219) !important;
    border-radius: 10px;

  }
  .satityimg{
    height: 70px;
    border: 2px solid grey;
    border-radius: 10px;

  }


  .wastefellow
  {
    background-color: green;
  }